<h1>Welcome to Instantgram<h1/>
<p class="lead"> Please Register or sign in to continue</p>
<%= link_to "Sign Up", new_account_registration_path, class: "btn btn-success" %>
<%= link_to "Login", new_account_session_path, class: "btn btn-secondary" %>